<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first"></ion-menu-button>
    </ion-buttons>    
    <ion-title>Task Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card" style="border-bottom: 0;">
    <div class="card-body">
      <h1 class="text-uppercase"></h1>
      <p class="text-uppercase state"><ion-icon name="warning"></ion-icon></p>
      <ion-item>
        <ion-label position="stacked">Description</ion-label>
        <ion-input disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date</ion-label>
        <ion-input disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Assigned Employee</ion-label>
        <ion-input disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Course</ion-label>
        <ion-input disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Observations</ion-label>
        <ion-input disabled="true"></ion-input>
      </ion-item>
      <p class="button">
        <ion-icon name="create" ></ion-icon>
        <ion-icon  name="trash"></ion-icon>
        <ion-icon name="arrow-back-circle" (click)="return()"></ion-icon>
      </p>
    </div>
  </div>
</ion-content> -->