<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="first"></ion-menu-button>
    </ion-buttons>    
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Toogle Dark Mode</ion-label>
      <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="change()"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="logo-ionic"></ion-icon>
      <ion-label>Operating System</ion-label>
      <ion-label slot="end">{{ this.platform }}</ion-label>
      <ion-icon slot="end" name="{{this.logo}}" [style.color]="getColor(this.platform)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
