ion-card {
    max-width: 340px;
    margin: 2rem auto;
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

ion-input {
    font-size: 16px;
    text-align: start;
    color:#757575;
}

.danger {
    color: red;
    text-align: left;
    margin-left: 20px;
    font-size: 12px;
}